<a href="https://colab.research.google.com/github/alastra32/DS-Unit-2-Kaggle-Challenge/blob/master/module2/assignment_kaggle_challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Kaggle Challenge, Module 2

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [1]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module2')

Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 85, done.
remote: Total 85 (delta 0), reused 0 (delta 0), pack-reused 85
Unpacking objects: 100% (85/85), done.
From https://github.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge
 * branch            master     -> FETCH_HEAD
 * [new branch]      master     -> origin/master
Collecting category_encoders==2.0.0 (from -r requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 5.5MB/s
Collecting eli5==0.10.1 (from -r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 15.4MB/s
Requirement already satisfied: matplotlib!=3.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (3.0.3)
Collecting pandas-profiling==2.3.0 (from -r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/2c/2f/aae19e2173c10a9bb7fee5f5cad35dbe53a393960fc91abc477dcc4661e8/pandas-profiling-2.3.0.tar.gz (127kB)
     |████████████████████████████████| 133kB 57.0MB/s
Collecting pdpbox==0.2.0 (from -r requirements.txt (line 5))
  Downloading https://files.pythonhosted.org/packages/87/23/ac7da5ba1c6c03a87c412e7e7b6e91a10d6ecf4474906c3e736f93940d49/PDPbox-0.2.0.tar.gz (57.7MB)
     |████████████████████████████████| 57.7MB 535kB/s
Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (4.1.1)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (0.21.3)
Collecting shap==0.30.0 (from -r requirements.txt (line 9))
  Downloading https://files.pythonhosted.org/packages/3b/98/16829410426bdd08b836c30e164c56646d6a102afb9eadd81a6bd3a8bb65/shap-0.30.0.tar.gz (240kB)
     |████████████████████████████████| 245kB 55.4MB/s
Requirement already satisfied: xgboost==0.90 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 10)) (0.90)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.24.2)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.10.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.16.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.1->-r requirements.txt (line 2)) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.1->-r requirements.txt (line 2)) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.1->-r requirements.txt (line 2)) (0.8.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.1->-r requirements.txt (line 2)) (2.10.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.1->-r requirements.txt (line 2)) (19.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.5.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Collecting htmlmin>=0.1.12 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting phik>=0.9.8 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/45/ad/24a16fa4ba612fb96a3c4bb115a5b9741483f53b66d3d3afd987f20fa227/phik-0.9.8-py3-none-any.whl (606kB)
     |████████████████████████████████| 614kB 46.5MB/s
Collecting confuse>=1.0.0 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/4c/6f/90e860cba937c174d8b3775729ccc6377eb91f52ad4eeb008e7252a3646d/confuse-1.0.0.tar.gz
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.0.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (5.4.8)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap==0.30.0->-r requirements.txt (line 9)) (4.28.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from shap==0.30.0->-r requirements.txt (line 9)) (5.5.0)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from shap==0.30.0->-r requirements.txt (line 9)) (0.15.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0->-r requirements.txt (line 1)) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5==0.10.1->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.1.1->-r requirements.txt (line 3)) (41.2.0)
Collecting pytest>=4.0.2 (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/ca/e1/2f229554e5c273962fae8b286395d5bbcc7bef276d2b40e1bad954993db2/pytest-5.1.3-py3-none-any.whl (224kB)
     |████████████████████████████████| 225kB 54.7MB/s
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.3.1)
Collecting pytest-pylint>=0.13.0 (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/64/dc/6f35f114844fb12e38d60c4f3d2441a55baff7043ad4e013777dff55746c/pytest_pylint-0.14.1-py3-none-any.whl
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.40.1)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.6.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.13)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (4.7.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (2.1.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (4.3.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (4.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.30.0->-r requirements.txt (line 9)) (1.0.16)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.30.0->-r requirements.txt (line 9)) (1.0.3)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.30.0->-r requirements.txt (line 9)) (4.3.0)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.30.0->-r requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.30.0->-r requirements.txt (line 9)) (2.3)
Collecting pluggy<1.0,>=0.12 (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/92/c7/48439f7d5fd6bddb4c04b850bb862b42e3e2b98570040dfaf68aedd8114b/pluggy-0.13.0-py2.py3-none-any.whl
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.8.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.23)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.7)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (19.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (7.2.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (17.0.0)
Collecting pylint>=1.4.5 (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/60/c2/b3f73f4ac008bef6e75bca4992f3963b3f85942e0277237721ef1c151f0d/pylint-2.3.1-py3-none-any.whl (765kB)
     |████████████████████████████████| 768kB 32.2MB/s
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.29.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->shap==0.30.0->-r requirements.txt (line 9)) (0.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->shap==0.30.0->-r requirements.txt (line 9)) (0.2.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image->shap==0.30.0->-r requirements.txt (line 9)) (0.46)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Collecting mccabe<0.7,>=0.6 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/87/89/479dc97e18549e21354893e4ee4ef36db1d237534982482c3681ee6e7b57/mccabe-0.6.1-py2.py3-none-any.whl
Collecting isort<5,>=4.2.5 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/e5/b0/c121fd1fa3419ea9bfd55c7f9c4fedfec5143208d8c7ad3ce3db6c623c21/isort-4.3.21-py2.py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 26.6MB/s
Collecting astroid<3,>=2.2.0 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/d5/ad/7221a62a2dbce5c3b8c57fd18e1052c7331adc19b3f27f1561aa6e620db2/astroid-2.2.5-py3-none-any.whl (193kB)
     |████████████████████████████████| 194kB 60.2MB/s
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.6.0)
Collecting lazy-object-proxy (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/0e/26/534a6d32572a9dbca11619321535c0a7ab34688545d9d67c2c204b9e3a3d/lazy_object_proxy-1.4.2-cp36-cp36m-manylinux1_x86_64.whl (49kB)
     |████████████████████████████████| 51kB 25.2MB/s
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.11.2)
Collecting typed-ast>=1.3.0; implementation_name == "cpython" (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/31/d3/9d1802c161626d0278bafb1ffb32f76b9d01e123881bbf9d91e8ccf28e18/typed_ast-1.4.0-cp36-cp36m-manylinux1_x86_64.whl (736kB)
     |████████████████████████████████| 737kB 53.7MB/s
Building wheels for collected packages: pandas-profiling, pdpbox, shap, htmlmin, confuse
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.3.0-py2.py3-none-any.whl size=145035 sha256=63ecc594227c0996d5c44e420e41c43abe7f2c05799794dc56667ecec04a4613
  Stored in directory: /root/.cache/pip/wheels/ce/c7/f1/dbfef4848ebb048cb1d4a22d1ed0c62d8ff2523747235e19fe
  Building wheel for pdpbox (setup.py) ... done
  Created wheel for pdpbox: filename=PDPbox-0.2.0-cp36-none-any.whl size=57690723 sha256=787f2f0a6483198544eee38a1cec4856cf64aa87df54dd5d9ec8947f5d490706
  Stored in directory: /root/.cache/pip/wheels/7d/08/51/63fd122b04a2c87d780464eeffb94867c75bd96a64d500a3fe
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.30.0-cp36-cp36m-linux_x86_64.whl size=356745 sha256=170865d712d46f1acb4df81cceaf8ac6bc84eeefa13acead3276608f9232e4d1
  Stored in directory: /root/.cache/pip/wheels/67/7a/5b/34feab81170fb8bf642a7536b5127e54e00bce373564435808
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp36-none-any.whl size=27084 sha256=cbc2a0d9605a6a1b793faf40de3502a20fb7c82efa1dbb9d02e5585afe0a9151
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for confuse (setup.py) ... done
  Created wheel for confuse: filename=confuse-1.0.0-cp36-none-any.whl size=17486 sha256=c58581266a3a75c2a727e2e75baf6725e303a9076d2bf93ed2a3a07441d300fa
  Stored in directory: /root/.cache/pip/wheels/b0/b2/96/2074eee7dbf7b7df69d004c9b6ac4e32dad04fb7666cf943bd
Successfully built pandas-profiling pdpbox shap htmlmin confuse
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: category-encoders, eli5, htmlmin, pluggy, pytest, mccabe, isort, lazy-object-proxy, typed-ast, astroid, pylint, pytest-pylint, phik, confuse, pandas-profiling, pdpbox, shap
  Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed astroid-2.2.5 category-encoders-2.0.0 confuse-1.0.0 eli5-0.10.1 htmlmin-0.1.12 isort-4.3.21 lazy-object-proxy-1.4.2 mccabe-0.6.1 pandas-profiling-2.3.0 pdpbox-0.2.0 phik-0.9.8 pluggy-0.13.0 pylint-2.3.1 pytest-5.1.3 pytest-pylint-0.14.1 shap-0.30.0 typed-ast-1.4.0

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Merge train_features.csv & train_labels.csv
train = pd.merge(pd.read_csv('../data/tanzania/train_features.csv'), 
                 pd.read_csv('../data/tanzania/train_labels.csv'))

# Read test_features.csv & sample_submission.csv
test = pd.read_csv('../data/tanzania/test_features.csv')
sample_submission = pd.read_csv('../data/tanzania/sample_submission.csv')

In [3]:
# Split train into train & val
train, val = train_test_split(train, train_size=0.80, test_size=0.20, 
                              stratify=train['status_group'], random_state=32)

train.shape, val.shape, test.shape

((47520, 41), (11880, 41), (14358, 40))

Feature Selection

In [4]:
train.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [5]:
pd.crosstab(train['amount_tsh'], train['status_group'],normalize=True,margins=True) 

#dropping Amount_tsh due to high amount of zeros for all categories

status_group  functional  functional needs repair  non functional       All
amount_tsh
0.0             0.331229                 0.051452        0.318182  0.700863
0.2             0.000000                 0.000000        0.000063  0.000063
0.25            0.000021                 0.000000        0.000000  0.000021
1.0             0.000000                 0.000000        0.000063  0.000063
2.0             0.000231                 0.000000        0.000000  0.000231
5.0             0.005766                 0.000000        0.000694  0.006460
6.0             0.002904                 0.000063        0.000210  0.003178
7.0             0.000947                 0.000000        0.000295  0.001242
9.0             0.000000                 0.000000        0.000021  0.000021
10.0            0.010417                 0.000274        0.002630  0.013321
15.0            0.000189                 0.000000        0.000021  0.000210
20.0            0.016035                 0.001263        0.007323  0.024621
25.0            0.004756                 0.000316        0.000884  0.005955
30.0            0.008838                 0.000673        0.002967  0.012479
33.0            0.000337                 0.000000        0.000000  0.000337
35.0            0.000105                 0.000000        0.000021  0.000126
40.0            0.000779                 0.000021        0.000189  0.000989
50.0            0.026999                 0.001726        0.012184  0.040909
53.0            0.000021                 0.000000        0.000000  0.000021
60.0            0.000253                 0.000000        0.000021  0.000274
70.0            0.000126                 0.000042        0.000210  0.000379
100.0           0.009449                 0.000968        0.003325  0.013742
150.0           0.000126                 0.000000        0.000253  0.000379
200.0           0.013258                 0.001873        0.005387  0.020518
250.0           0.005072                 0.002673        0.001936  0.009680
300.0           0.006124                 0.001031        0.002315  0.009470
306.0           0.000000                 0.000000        0.000021  0.000021
350.0           0.000042                 0.000000        0.000000  0.000042
400.0           0.000526                 0.000000        0.000231  0.000758
450.0           0.000631                 0.000000        0.000105  0.000737
...                  ...                      ...             ...       ...
8500.0          0.000021                 0.000000        0.000000  0.000021
9000.0          0.000021                 0.000021        0.000021  0.000063
10000.0         0.000821                 0.000021        0.000168  0.001010
11000.0         0.000000                 0.000000        0.000021  0.000021
12000.0         0.000884                 0.000042        0.000084  0.001010
13000.0         0.000021                 0.000000        0.000021  0.000042
14000.0         0.000042                 0.000021        0.000021  0.000084
15000.0         0.000295                 0.000000        0.000021  0.000316
16000.0         0.000042                 0.000000        0.000000  0.000042
16300.0         0.000021                 0.000000        0.000000  0.000021
18000.0         0.000063                 0.000000        0.000000  0.000063
20000.0         0.000737                 0.000000        0.000063  0.000800
25000.0         0.000147                 0.000000        0.000000  0.000147
26000.0         0.000042                 0.000000        0.000000  0.000042
30000.0         0.000126                 0.000000        0.000021  0.000147
38000.0         0.000021                 0.000000        0.000000  0.000021
40000.0         0.000084                 0.000000        0.000000  0.000084
45000.0         0.000042                 0.000000        0.000000  0.000042
50000.0         0.000042                 0.000021        0.000000  0.000063
60000.0         0.000000                 0.000000        0.000021  0.000021
70000.0         0.000021                 0.000000        0.000000  0.000021
100000.0        0.000021                 0.000000        0.000000  0.000021
117000.0        0.000084                 0.000000        0.000021  0.000105
120000.0        0.000021                 0.000000        0.000000  0.000021
138000.0        0.000021                 0.000000        0.000000  0.000021
170000.0        0.000021                 0.000000        0.000000  0.000021
200000.0        0.000021                 0.000000        0.000000  0.000021
250000.0        0.000021                 0.000000        0.000000  0.000021
350000.0        0.000021                 0.000000        0.000000  0.000021
All             0.543077                 0.072685        0.384238  1.000000

[95 rows x 4 columns]

In [6]:
pd.crosstab(train['funder'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False).head(10)

#will impute

status_group            functional  ...       All
funder                              ...
All                       0.543149  ...  1.000000
Government Of Tanzania    0.066876  ...  0.163781
Danida                    0.030612  ...  0.055214
Hesawa                    0.016439  ...  0.038932
Rwssp                     0.014398  ...  0.024692
World Bank                0.009711  ...  0.023772
Kkkt                      0.012940  ...  0.022965
World Vision              0.013680  ...  0.022494
Unicef                    0.010787  ...  0.018838
Tasaf                     0.009128  ...  0.015990

[10 rows x 4 columns]

In [7]:
pd.crosstab(train['gps_height'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False).head(20)

# will impute

status_group  functional  functional needs repair  non functional       All
gps_height
All             0.543077                 0.072685        0.384238  1.000000
0               0.175947                 0.029482        0.138279  0.343708
-15             0.000589                 0.000021        0.000463  0.001073
-13             0.000442                 0.000021        0.000568  0.001031
-20             0.000673                 0.000021        0.000316  0.001010
-16             0.000400                 0.000084        0.000463  0.000947
-18             0.000421                 0.000021        0.000463  0.000905
1269            0.000400                 0.000063        0.000421  0.000884
280             0.000484                 0.000126        0.000253  0.000863
1290            0.000442                 0.000042        0.000379  0.000863
-14             0.000400                 0.000000        0.000442  0.000842
1401            0.000610                 0.000021        0.000189  0.000821
1286            0.000400                 0.000021        0.000400  0.000821
1538            0.000379                 0.000063        0.000379  0.000821
-27             0.000379                 0.000084        0.000358  0.000821
1322            0.000379                 0.000042        0.000400  0.000821
-19             0.000400                 0.000000        0.000400  0.000800
-17             0.000379                 0.000021        0.000379  0.000779
-23             0.000526                 0.000021        0.000231  0.000779
1304            0.000337                 0.000042        0.000379  0.000758

In [8]:
pd.crosstab(train['installer'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False).head(20)

# replace zeros to  impute

status_group        functional  ...       All
installer                       ...
All                   0.542978  ...  1.000000
DWE                   0.169535  ...  0.312975
Government            0.009244  ...  0.031995
RWE                   0.005520  ...  0.022056
Commu                 0.013171  ...  0.019206
DANIDA                0.009850  ...  0.018825
KKKT                  0.007673  ...  0.016132
Hesawa                0.007988  ...  0.014607
0                     0.008010  ...  0.014158
TCRS                  0.005183  ...  0.012789
CES                   0.009962  ...  0.011174
Central government    0.002984  ...  0.010972
Community             0.007202  ...  0.010276
District Council      0.005138  ...  0.010052
HESAWA                0.005407  ...  0.009603
DANID                 0.007270  ...  0.009424
World vision          0.005003  ...  0.007629
LGA                   0.001750  ...  0.007404
WEDECO                0.005116  ...  0.007315
Gover                 0.003725  ...  0.007225

[20 rows x 4 columns]

In [9]:
pd.crosstab(train['wpt_name'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False).head(20)
#no zeros, none only 6%, replacing none with NANs to impute

status_group     functional  functional needs repair  non functional       All
wpt_name
All                0.543077                 0.072685        0.384238  1.000000
none               0.044339                 0.001094        0.014604  0.060038
Shuleni            0.014646                 0.002399        0.012689  0.029735
Zahanati           0.007176                 0.001263        0.005513  0.013952
Msikitini          0.004545                 0.000842        0.003662  0.009049
Kanisani           0.002736                 0.000358        0.002630  0.005724
Bombani            0.002441                 0.000379        0.001641  0.004461
Ofisini            0.001957                 0.000189        0.002168  0.004314
Sokoni             0.001978                 0.000484        0.001852  0.004314
School             0.001473                 0.000210        0.001810  0.003493
Shule Ya Msingi    0.001810                 0.000379        0.001136  0.003325
Shule              0.001242                 0.000421        0.000842  0.002504
Sekondari          0.001620                 0.000084        0.000673  0.002378
Muungano           0.001536                 0.000568        0.000253  0.002357
Mkombozi           0.001178                 0.000337        0.000379  0.001894
Madukani           0.000863                 0.000126        0.000758  0.001747
Kituo Cha Afya     0.000989                 0.000063        0.000610  0.001662
Mbugani            0.000715                 0.000126        0.000737  0.001578
Upendo             0.000947                 0.000337        0.000231  0.001515
Hospital           0.000863                 0.000042        0.000526  0.001431

In [10]:
pd.crosstab(train['num_private'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False)
#dropping as it's 98% zeros.

status_group  functional  functional needs repair  non functional       All
num_private
All             0.543077                 0.072685        0.384238  1.000000
0               0.535501                 0.071928        0.380135  0.987563
6               0.000989                 0.000084        0.000337  0.001410
1               0.000652                 0.000084        0.000505  0.001242
8               0.000526                 0.000126        0.000147  0.000800
32              0.000715                 0.000000        0.000021  0.000737
45              0.000463                 0.000021        0.000168  0.000652
5               0.000421                 0.000000        0.000210  0.000631
15              0.000421                 0.000063        0.000084  0.000568
93              0.000358                 0.000126        0.000021  0.000505
7               0.000316                 0.000021        0.000147  0.000484
39              0.000126                 0.000000        0.000337  0.000463
3               0.000189                 0.000063        0.000189  0.000442
65              0.000231                 0.000000        0.000189  0.000421
2               0.000189                 0.000000        0.000168  0.000358
4               0.000168                 0.000000        0.000189  0.000358
47              0.000168                 0.000021        0.000147  0.000337
17              0.000147                 0.000063        0.000042  0.000253
102             0.000189                 0.000000        0.000063  0.000253
80              0.000021                 0.000000        0.000210  0.000231
41              0.000126                 0.000000        0.000063  0.000189
11              0.000084                 0.000000        0.000105  0.000189
20              0.000042                 0.000021        0.000126  0.000189
34              0.000063                 0.000000        0.000105  0.000168
25              0.000084                 0.000000        0.000084  0.000168
16              0.000105                 0.000000        0.000021  0.000126
150             0.000021                 0.000000        0.000084  0.000105
24              0.000084                 0.000000        0.000000  0.000084
10              0.000084                 0.000000        0.000000  0.000084
12              0.000063                 0.000000        0.000021  0.000084
14              0.000021                 0.000000        0.000042  0.000063
50              0.000000                 0.000000        0.000063  0.000063
58              0.000063                 0.000000        0.000000  0.000063
61              0.000000                 0.000042        0.000000  0.000042
120             0.000021                 0.000000        0.000021  0.000042
26              0.000042                 0.000000        0.000000  0.000042
9               0.000021                 0.000000        0.000021  0.000042
27              0.000021                 0.000000        0.000021  0.000042
22              0.000042                 0.000000        0.000000  0.000042
38              0.000000                 0.000000        0.000042  0.000042
60              0.000021                 0.000000        0.000000  0.000021
240             0.000021                 0.000000        0.000000  0.000021
1776            0.000000                 0.000000        0.000021  0.000021
755             0.000021                 0.000000        0.000000  0.000021
698             0.000021                 0.000000        0.000000  0.000021
672             0.000021                 0.000000        0.000000  0.000021
668             0.000021                 0.000000        0.000000  0.000021
450             0.000021                 0.000000        0.000000  0.000021
300             0.000000                 0.000000        0.000021  0.000021
280             0.000021                 0.000000        0.000000  0.000021
180             0.000021                 0.000000        0.000000  0.000021
213             0.000000                 0.000000        0.000021  0.000021
62              0.000000                 0.000000        0.000021  0.000021
35              0.000021                 0.000000        0.000000  0.000021
141             0.000021                 0.000000        0.000000  0.000021
131             0.000021                 0.000000        0.000000  0.000021
111             0.000021                 0.000000        0.000000  0.000021
30              0.000000                 0.000021        0.000000  0.000021
23              0.000021                 0.000000        0.000000  0.000021
42              0.000000                 0.000000        0.000021  0.000021

In [11]:
pd.crosstab(train['basin'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False)
 
 #nothing to note

status_group             functional  ...       All
basin                                ...
All                        0.543077  ...  1.000000
Lake Victoria              0.084933  ...  0.171002
Pangani                    0.091035  ...  0.151747
Rufiji                     0.086658  ...  0.135311
Internal                   0.075484  ...  0.131818
Lake Tanganyika            0.052041  ...  0.108123
Wami / Ruvu                0.051978  ...  0.099495
Lake Nyasa                 0.056418  ...  0.085501
Ruvuma / Southern Coast    0.027988  ...  0.075652
Lake Rukwa                 0.016540  ...  0.041351

[10 rows x 4 columns]

In [12]:

train['subvillage_count']= train['subvillage'].str.len()
                               
train['subvillage_count'].head()

pd.crosstab(train['subvillage_count'], train['status_group'],margins=True)

#replace subvillage_count 1 with NAN for subvillage

status_group      functional  functional needs repair  non functional    All
subvillage_count
1.0                      333                       12             173    518
2.0                       16                        1              30     47
3.0                      131                       21              51    203
4.0                      782                       89             503   1374
5.0                     2249                      247            1491   3987
6.0                     4279                      542            3103   7924
7.0                     5391                      790            3806   9987
8.0                     4324                      580            3021   7925
9.0                     2923                      447            2104   5474
10.0                    1907                      289            1495   3691
11.0                    1068                      167             799   2034
12.0                     703                      119             479   1301
13.0                     511                       61             323    895
14.0                     337                       45             252    634
15.0                     244                       14             152    410
16.0                     107                       15             121    243
17.0                     119                        7              95    221
18.0                      62                        3              58    123
19.0                      50                        0              22     72
20.0                      98                        3              32    133
21.0                       4                        0              10     14
22.0                       2                        1               3      6
23.0                       1                        0              11     12
25.0                       0                        0               1      1
26.0                       2                        0               2      4
30.0                       1                        0               0      1
All                    25644                     3453           18137  47234

In [13]:
pd.crosstab(train['region'], train['status_group'],margins=True)
#looks complete

status_group   functional  functional needs repair  non functional    All
region
Arusha               1839                      143             723   2705
Dar es Salaam         370                        3             281    654
Dodoma                817                      168             781   1766
Iringa               3364                       88             826   4278
Kagera               1374                      244            1017   2635
Kigoma               1079                      491             671   2241
Kilimanjaro          2133                      256            1127   3516
Lindi                 379                       79             789   1247
Manyara               785                       78             408   1271
Mara                  695                       48             824   1567
Mbeya                1842                      404            1449   3695
Morogoro             1689                      231            1233   3153
Mtwara                409                      105             876   1390
Mwanza               1169                      143            1126   2438
Pwani                1227                       31             838   2096
Rukwa                 566                      110             779   1455
Ruvuma               1194                      129             760   2083
Shinyanga            2257                      505            1266   4028
Singida               804                      101             783   1688
Tabora                678                       34             852   1564
Tanga                1137                       63             850   2050
All                 25807                     3454           18259  47520

In [14]:
pd.crosstab(train['region_code'], train['status_group'],margins=True)

#no logical oustanding errors

status_group  functional  functional needs repair  non functional    All
region_code
1                    817                      168             781   1766
2                   1589                      142             715   2446
3                   2133                      256            1127   3516
4                   1116                       63             844   2023
5                   1710                      231            1239   3180
6                    847                       14             426   1287
7                    370                        3             281    654
8                     22                       13             204    239
9                    113                       18             181    312
10                  1194                      129             760   2083
11                  3365                       88             829   4282
12                  1842                      404            1449   3695
13                   804                      101             783   1688
14                   689                       36             855   1580
15                   566                      110             779   1455
16                  1079                      491             671   2241
17                  2264                      508            1272   4044
18                  1376                      244            1023   2643
19                  1150                      138            1114   2402
20                   695                       48             824   1567
21                   785                       78             408   1271
24                   250                        1               8    259
40                     0                        0               1      1
60                   380                       17             411    808
80                   355                       66             579   1000
90                   151                       81             517    749
99                   145                        6             178    329
All                25807                     3454           18259  47520

In [0]:
pd.crosstab(train['district_code'], train['status_group'],margins=True)

#replacing zeros with NANs

status_group   functional  functional needs repair  non functional    All
district_code
0                       4                        2              13     19
1                    5212                     1020            3436   9668
2                    4937                      681            3333   8951
3                    3972                      554            3435   7961
4                    4495                      403            2326   7224
5                    1992                      152            1362   3506
6                    1628                      189            1440   3257
7                    1657                      174             903   2734
8                     473                       44             327    844
13                    101                       24             194    319
23                    129                       25              81    235
30                    549                       70             169    788
33                    152                       81             472    705
43                    158                        5             225    388
53                    202                       21             379    602
60                     39                        3               7     49
62                     49                        0              42     91
63                     51                        4             108    163
67                      5                        1               0      6
80                      2                        1               7     10
All                 25807                     3454           18259  47520

In [19]:
pd.crosstab(train['lga'], train['status_group'],normalize=True,margins=True).sort_values('All', ascending=False).head(20)

#nothing to note.

status_group   functional  functional needs repair  non functional       All
lga
All              0.543077                 0.072685        0.384238  1.000000
Njombe           0.035017                 0.001473        0.006902  0.043392
Arusha Rural     0.014604                 0.000779        0.005619  0.021002
Moshi Rural      0.012079                 0.002062        0.006839  0.020981
Bariadi          0.009491                 0.006713        0.003178  0.019381
Rungwe           0.011237                 0.002588        0.004482  0.018308
Kilosa           0.009701                 0.001263        0.006923  0.017887
Meru             0.011448                 0.000526        0.005471  0.017445
Kasulu           0.010122                 0.003430        0.003788  0.017340
Mbozi            0.007471                 0.001221        0.008586  0.017277
Singida Rural    0.007492                 0.001010        0.008544  0.017045
Bagamoyo         0.012205                 0.000042        0.004545  0.016793
Kilombero        0.008481                 0.001263        0.006292  0.016035
Kibondo          0.007597                 0.001115        0.005808  0.014520
Kyela            0.006187                 0.000168        0.008081  0.014436
Same             0.007639                 0.002020        0.004714  0.014373
Kahama           0.007912                 0.000084        0.006229  0.014226
Kigoma Rural     0.004756                 0.005661        0.003704  0.014120
Maswa            0.008628                 0.001052        0.004272  0.013952
Magu             0.004545                 0.001284        0.007702  0.013531

In [20]:
pd.crosstab(train['scheme_management'], train['status_group'],normalize=True,margins=True)
#nothing to note..

status_group       functional  ...       All
scheme_management              ...
Company              0.009813  ...  0.019063
None                 0.000023  ...  0.000023
Other                0.008125  ...  0.013526
Parastatal           0.017082  ...  0.030384
Private operator     0.013234  ...  0.019085
SWC                  0.000360  ...  0.001913
Trust                0.000810  ...  0.001305
VWC                  0.340070  ...  0.661618
WUA                  0.036888  ...  0.052822
WUG                  0.054128  ...  0.093829
Water Board          0.037248  ...  0.049716
Water authority      0.029281  ...  0.056716
All                  0.547061  ...  1.000000

[13 rows x 4 columns]

In [23]:
#scheme_name

train['scheme_count']= train['scheme_name'].str.len()
                               
train['scheme_count'].head()

pd.crosstab(train['scheme_count'], train['status_group'],normalize= True, margins=True)

#replace scheme_name 1 with NAN for subvillage

status_group  functional  functional needs repair  non functional       All
scheme_count
1.0             0.036361                 0.006960        0.024521  0.067843
2.0             0.008000                 0.001800        0.005160  0.014961
3.0             0.006600                 0.000720        0.006480  0.013801
4.0             0.049602                 0.008080        0.035401  0.093084
5.0             0.017401                 0.001320        0.008080  0.026801
6.0             0.068363                 0.003680        0.026201  0.098244
7.0             0.014161                 0.003800        0.008520  0.026481
8.0             0.027921                 0.004960        0.021721  0.054602
9.0             0.009600                 0.002000        0.005880  0.017481
10.0            0.011120                 0.001360        0.009520  0.022001
11.0            0.006560                 0.000840        0.003520  0.010920
12.0            0.012641                 0.005840        0.008560  0.027041
13.0            0.025481                 0.001880        0.010480  0.037842
14.0            0.006840                 0.001440        0.005520  0.013801
15.0            0.006320                 0.001200        0.004480  0.012000
16.0            0.004080                 0.000520        0.003560  0.008160
17.0            0.018721                 0.002200        0.011600  0.032521
18.0            0.013761                 0.002280        0.013121  0.029161
19.0            0.022601                 0.002520        0.014761  0.039882
20.0            0.029081                 0.002920        0.024721  0.056722
21.0            0.013161                 0.002720        0.014401  0.030281
22.0            0.024321                 0.001520        0.013161  0.039002
23.0            0.006400                 0.000840        0.006720  0.013961
24.0            0.008800                 0.001400        0.005360  0.015561
25.0            0.017321                 0.002000        0.010760  0.030081
26.0            0.018881                 0.001480        0.006360  0.026721
27.0            0.052442                 0.003160        0.026121  0.081723
28.0            0.005080                 0.000400        0.004760  0.010240
29.0            0.004600                 0.000480        0.003320  0.008400
30.0            0.010240                 0.001120        0.005000  0.016361
31.0            0.001920                 0.000320        0.002200  0.004440
32.0            0.001160                 0.000200        0.000960  0.002320
33.0            0.002240                 0.000680        0.000720  0.003640
34.0            0.000320                 0.000040        0.000480  0.000840
35.0            0.000320                 0.000040        0.000800  0.001160
36.0            0.000240                 0.000120        0.000440  0.000800
37.0            0.006840                 0.000440        0.001640  0.008920
38.0            0.000040                 0.000080        0.000040  0.000160
39.0            0.000040                 0.000040        0.000040  0.000120
40.0            0.000040                 0.000000        0.000000  0.000040
41.0            0.000720                 0.000080        0.000200  0.001000
43.0            0.000000                 0.000080        0.000000  0.000080
44.0            0.000000                 0.000000        0.000160  0.000160
46.0            0.000000                 0.000000        0.000640  0.000640
All             0.570343                 0.073563        0.356094  1.000000

In [24]:
#permit
pd.crosstab(train['permit'], train['status_group'],normalize= True, margins=True)

status_group  functional  functional needs repair  non functional       All
permit
False           0.160778                 0.023656        0.126071  0.310506
True            0.382207                 0.047801        0.259487  0.689494
All             0.542985                 0.071457        0.385558  1.000000

In [25]:
###'construction_year',
   pd.crosstab(train['construction_year'], train['status_group'],normalize= True, margins=True)
   
   #replacing zero with NANs to impute

status_group       functional  ...       All
construction_year              ...
0                    0.177715  ...  0.348211
1960                 0.000421  ...  0.001768
1961                 0.000042  ...  0.000400
1962                 0.000084  ...  0.000463
1963                 0.000568  ...  0.001473
1964                 0.000105  ...  0.000715
1965                 0.000147  ...  0.000274
1966                 0.000126  ...  0.000295
1967                 0.000505  ...  0.001368
1968                 0.000379  ...  0.001368
1969                 0.000231  ...  0.001073
1970                 0.001641  ...  0.006860
1971                 0.001431  ...  0.002462
1972                 0.003136  ...  0.012247
1973                 0.000884  ...  0.003093
1974                 0.004061  ...  0.011343
1975                 0.002525  ...  0.007681
1976                 0.001305  ...  0.006881
1977                 0.000947  ...  0.003178
1978                 0.007513  ...  0.017803
1979                 0.000779  ...  0.003388
1980                 0.004566  ...  0.013994
1981                 0.001410  ...  0.003977
1982                 0.003788  ...  0.012205
1983                 0.003114  ...  0.007976
1984                 0.005934  ...  0.012984
1985                 0.005387  ...  0.015825
1986                 0.003535  ...  0.007281
1987                 0.002273  ...  0.004924
1988                 0.003809  ...  0.008544
1989                 0.002946  ...  0.005471
1990                 0.007639  ...  0.015741
1991                 0.002273  ...  0.005303
1992                 0.006019  ...  0.010711
1993                 0.005072  ...  0.010396
1994                 0.006040  ...  0.011827
1995                 0.009848  ...  0.016519
1996                 0.006481  ...  0.013636
1997                 0.004693  ...  0.010354
1998                 0.009175  ...  0.016288
1999                 0.011637  ...  0.016393
2000                 0.021528  ...  0.035669
2001                 0.005408  ...  0.009028
2002                 0.011848  ...  0.018476
2003                 0.014184  ...  0.021864
2004                 0.011700  ...  0.018624
2005                 0.009701  ...  0.017066
2006                 0.014773  ...  0.025021
2007                 0.018287  ...  0.026662
2008                 0.031271  ...  0.044423
2009                 0.030093  ...  0.042908
2010                 0.034154  ...  0.044886
2011                 0.015825  ...  0.021296
2012                 0.012332  ...  0.018413
2013                 0.001789  ...  0.002967
All                  0.543077  ...  1.000000

[56 rows x 4 columns]

In [27]:
       #'extraction_type', 
          pd.crosstab(train['extraction_type'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
       #consider dropping as it overlaps with extraction_type_group

status_group               functional  ...       All
extraction_type                        ...
All                          0.543077  ...  1.000000
gravity                      0.270665  ...  0.451115
nira/tanira                  0.091414  ...  0.137605
other                        0.017172  ...  0.108102
submersible                  0.043624  ...  0.079377
swn 80                       0.035459  ...  0.061700
mono                         0.017782  ...  0.047917
india mark ii                0.024474  ...  0.040762
afridev                      0.020265  ...  0.029566
ksb                          0.011806  ...  0.024263
other - rope pump            0.004882  ...  0.007618
other - swn 81               0.002083  ...  0.003935
windmill                     0.000884  ...  0.002104
india mark iii               0.000800  ...  0.001684
cemo                         0.000821  ...  0.001557
other - play pump            0.000484  ...  0.001431
walimi                       0.000379  ...  0.000673
climax                       0.000084  ...  0.000547
other - mkulima/shinyanga    0.000000  ...  0.000042

[19 rows x 4 columns]

In [28]:
   #'extraction_type_group',
    pd.crosstab(train['extraction_type_group'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
       #consider dropping as it overlaps with extraction_type & extraction_type_class

status_group           functional  ...       All
extraction_type_group              ...
All                      0.543077  ...  1.000000
gravity                  0.270665  ...  0.451115
nira/tanira              0.091414  ...  0.137605
other                    0.017172  ...  0.108102
submersible              0.055429  ...  0.103641
swn 80                   0.035459  ...  0.061700
mono                     0.017782  ...  0.047917
india mark ii            0.024474  ...  0.040762
afridev                  0.020265  ...  0.029566
rope pump                0.004882  ...  0.007618
other handpump           0.002946  ...  0.006082
other motorpump          0.000905  ...  0.002104
wind-powered             0.000884  ...  0.002104
india mark iii           0.000800  ...  0.001684

[14 rows x 4 columns]

In [29]:
 # 'extraction_type_class'
    pd.crosstab(train['extraction_type_class'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group           functional  ...       All
extraction_type_class              ...
All                      0.543077  ...  1.000000
gravity                  0.270665  ...  0.451115
handpump                 0.175358  ...  0.277399
other                    0.017172  ...  0.108102
submersible              0.055429  ...  0.103641
motorpump                0.018687  ...  0.050021
rope pump                0.004882  ...  0.007618
wind-powered             0.000884  ...  0.002104

[8 rows x 4 columns]

In [32]:
    #'management', 
    
pd.crosstab(train['management'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group      functional  functional needs repair  non functional       All
management
All                 0.543077                 0.072685        0.384238  1.000000
vwc                 0.342698                 0.047012        0.290951  0.680661
wug                 0.065593                 0.010732        0.033249  0.109575
water board         0.036869                 0.004398        0.008439  0.049705
wua                 0.030324                 0.003430        0.009806  0.043561
private operator    0.024832                 0.000715        0.007281  0.032828
parastatal          0.016940                 0.003746        0.009322  0.030008
water authority     0.007807                 0.000884        0.007050  0.015741
other               0.008607                 0.000947        0.004545  0.014099
company             0.004630                 0.000274        0.006692  0.011595
unknown             0.003641                 0.000421        0.005051  0.009112
other - school      0.000379                 0.000021        0.001368  0.001768
trust               0.000758                 0.000105        0.000484  0.001347

In [33]:
#'management_group', 

pd.crosstab(train['management_group'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group      functional  functional needs repair  non functional       All
management_group
All                 0.543077                 0.072685        0.384238  1.000000
user-group          0.475484                 0.065572        0.342445  0.883502
commercial          0.038026                 0.001978        0.021507  0.061511
parastatal          0.016940                 0.003746        0.009322  0.030008
other               0.008986                 0.000968        0.005913  0.015867
unknown             0.003641                 0.000421        0.005051  0.009112

In [34]:
#'payment',

pd.crosstab(train['payment'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

#consider dropping as it repeats with payment_type

status_group           functional  ...       All
payment                            ...
All                      0.543077  ...  1.000000
never pay                0.190699  ...  0.425589
pay per bucket           0.102020  ...  0.150379
pay monthly              0.093098  ...  0.140720
unknown                  0.059217  ...  0.137879
pay when scheme fails    0.041014  ...  0.065825
pay annually             0.046654  ...  0.061637
other                    0.010375  ...  0.017971

[8 rows x 4 columns]

In [35]:
# 'payment_type',

pd.crosstab(train['payment_type'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)


#considering replacing unkown with NANS to impute

status_group  functional  functional needs repair  non functional       All
payment_type
All             0.543077                 0.072685        0.384238  1.000000
never pay       0.190699                 0.032176        0.202715  0.425589
per bucket      0.102020                 0.006987        0.041372  0.150379
monthly         0.093098                 0.015572        0.032050  0.140720
unknown         0.059217                 0.007386        0.071275  0.137879
on failure      0.041014                 0.004524        0.020286  0.065825
annually        0.046654                 0.004040        0.010943  0.061637
other           0.010375                 0.001999        0.005598  0.017971

In [37]:
#'water_quality', 
              
pd.crosstab(train['water_quality'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
       
  
#considering replacing unkown with NANS to impute

status_group        functional  ...       All
water_quality                   ...
All                   0.543077  ...  1.000000
soft                  0.484386  ...  0.855008
salty                 0.037184  ...  0.081566
unknown               0.004230  ...  0.031818
milky                 0.007386  ...  0.013699
coloured              0.004146  ...  0.008418
salty abandoned       0.002946  ...  0.005682
fluoride              0.002694  ...  0.003514
fluoride abandoned    0.000105  ...  0.000295

[9 rows x 4 columns]

In [38]:
    #   'quality_group', 
pd.crosstab(train['quality_group'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
       
      
#considering replacing unkown with NANS to impute   & dropping as it repeats data with Water Quality

status_group   functional  functional needs repair  non functional       All
quality_group
All              0.543077                 0.072685        0.384238  1.000000
good             0.484386                 0.065699        0.304924  0.855008
salty            0.040130                 0.004945        0.042172  0.087247
unknown          0.004230                 0.000610        0.026978  0.031818
milky            0.007386                 0.000274        0.006040  0.013699
colored          0.004146                 0.000947        0.003325  0.008418
fluoride         0.002799                 0.000210        0.000800  0.003809

In [40]:
#'quantity'       
pd.crosstab(train['quantity'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

 #considering replacing unkown with NANS to impute

status_group  functional  functional needs repair  non functional       All
quantity
All             0.543077                 0.072685        0.384238  1.000000
enough          0.364499                 0.040257        0.153051  0.557807
insufficient    0.133481                 0.024558        0.097727  0.255766
dry             0.002609                 0.000652        0.102168  0.105429
seasonal        0.038994                 0.006987        0.021864  0.067845
unknown         0.003493                 0.000231        0.009428  0.013152

In [41]:
   #,'quantity_group',

pd.crosstab(train['quantity_group'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

      
#considering replacing unkown with NANS to impute   & dropping as it repeats data with quantity

       #'source', 'source_type', 'source_class', 'waterpoint_type',
       #'waterpoint_type_group', 'status_group'],

status_group    functional  functional needs repair  non functional       All
quantity_group
All               0.543077                 0.072685        0.384238  1.000000
enough            0.364499                 0.040257        0.153051  0.557807
insufficient      0.133481                 0.024558        0.097727  0.255766
dry               0.002609                 0.000652        0.102168  0.105429
seasonal          0.038994                 0.006987        0.021864  0.067845
unknown           0.003493                 0.000231        0.009428  0.013152

In [42]:
#'source', 
pd.crosstab(train['source'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
#considering replacing unkown with NANS to impute

status_group          functional  ...       All
source                            ...
All                     0.543077  ...  1.000000
spring                  0.179061  ...  0.286721
shallow well            0.140551  ...  0.283565
machine dbh             0.090909  ...  0.186385
river                   0.090972  ...  0.160669
rainwater harvesting    0.023359  ...  0.038994
hand dtw                0.008439  ...  0.014604
lake                    0.002799  ...  0.013089
dam                     0.004188  ...  0.011153
other                   0.002252  ...  0.003683
unknown                 0.000547  ...  0.001136

[11 rows x 4 columns]

In [43]:
#'source_type', 

pd.crosstab(train['source_type'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group          functional  ...       All
source_type                       ...
All                     0.543077  ...  1.000000
spring                  0.179061  ...  0.286721
shallow well            0.140551  ...  0.283565
borehole                0.099348  ...  0.200989
river/lake              0.093771  ...  0.173758
rainwater harvesting    0.023359  ...  0.038994
dam                     0.004188  ...  0.011153
other                   0.002799  ...  0.004819

[8 rows x 4 columns]

In [44]:

#'source_class', 


pd.crosstab(train['source_class'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)
#considering replacing unkown with NANS to impute

status_group  functional  functional needs repair  non functional       All
source_class
All             0.543077                 0.072685        0.384238  1.000000
groundwater     0.418960                 0.045918        0.306397  0.771275
surface         0.121317                 0.026662        0.075926  0.223906
unknown         0.002799                 0.000105        0.001915  0.004819

In [45]:

#'waterpoint_type',


pd.crosstab(train['waterpoint_type'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group                 functional  ...       All
waterpoint_type                          ...
All                            0.543077  ...  1.000000
communal standpipe             0.299053  ...  0.480303
hand pump                      0.182639  ...  0.294928
other                          0.013552  ...  0.107492
communal standpipe multiple    0.037079  ...  0.102504
improved spring                0.009322  ...  0.012837
cattle trough                  0.001347  ...  0.001831
dam                            0.000084  ...  0.000105

[8 rows x 4 columns]

In [46]:

 #'waterpoint_type_group', 

#dropping as it repeats with waterpoint_type

 
pd.crosstab(train['waterpoint_type'], train['status_group'],normalize= True, margins=True).sort_values('All', ascending=False)

status_group                 functional  ...       All
waterpoint_type                          ...
All                            0.543077  ...  1.000000
communal standpipe             0.299053  ...  0.480303
hand pump                      0.182639  ...  0.294928
other                          0.013552  ...  0.107492
communal standpipe multiple    0.037079  ...  0.102504
improved spring                0.009322  ...  0.012837
cattle trough                  0.001347  ...  0.001831
dam                            0.000084  ...  0.000105

[8 rows x 4 columns]

In [0]:
import numpy as np

def wrangle(X):
    """Wrangle train, validate, and test sets in the same way"""
    
    # Prevent SettingWithCopyWarning
    X = X.copy()
    
    # About 3% of the time, latitude has small values near zero,
    # outside Tanzania, so we'll treat these values like zero.
    X['latitude'] = X['latitude'].replace(-2e-08, 0)
    
    # When columns have zeros and shouldn't, they are like null values.
    # So we will replace the zeros with nulls, and impute missing values later.
    # Also create a "missing indicator" column, because the fact that
    # values are missing may be a predictive signal.
    cols_with_zeros = ['longitude', 'latitude', 'construction_year', 
                       'gps_height', 'population']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)
        X[col+'_MISSING'] = X[col].isnull()
            
    # Drop duplicate columns
    duplicates = ['quantity_group', 'payment_type']
    X = X.drop(columns=duplicates)
    
    # Drop recorded_by (never varies) and id (always varies, random)
    unusable_variance = ['recorded_by', 'id']
    X = X.drop(columns=unusable_variance)
    
    # Convert date_recorded to datetime
    X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format=True)
    
    # Extract components from date_recorded, then drop the original column
    X['year_recorded'] = X['date_recorded'].dt.year
    X['month_recorded'] = X['date_recorded'].dt.month
    X['day_recorded'] = X['date_recorded'].dt.day
    X = X.drop(columns='date_recorded')
    
    # Engineer feature: how many years from construction_year to date_recorded
    X['years'] = X['year_recorded'] - X['construction_year']
    X['years_MISSING'] = X['years'].isnull()
    
    # return the wrangled dataframe
    return X

train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [0]:
# The status_group column is the target
target = 'status_group'

# Get a dataframe with all train columns except the columns we don't need
train_features = train.drop(columns=[target])

# Get a list of the numeric features
numeric_features = train_features.select_dtypes(include='number').columns.tolist()

# Get a series with the cardinality of the nonnumeric features
cardinality = train_features.select_dtypes(exclude='number').nunique()

# Get a list of all categorical features with cardinality <= 350
categorical_features = cardinality[cardinality <= 50].index.tolist()

# Combine the lists 
features = numeric_features + categorical_features
print(features)